<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-estimote-os"
	version="0.9.1">

	<name>EstimoteBeacons (OutSystems)</name>
	<description>Cordova/PhoneGap plugin for Estimote beacons.</description>
	<license>MIT</license>
	<keywords>Estimote, Beacons</keywords>

	<js-module src="plugin/src/js/EstimoteBeacons.js" name="EstimoteBeacons">
		<clobbers target="estimote" />
	</js-module>

 	<engines>
    	<!-- needed for gradleReference support -->
        <engine name="cordova-plugman" version=">=4.2.0"/> 
    </engines>


	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="EstimoteBeacons" >
				<param name="android-package" value="com.evothings.EstimoteBeacons"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
		</config-file> 

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="com.evothings.BeaconsMonitoringService" android:label="Beacons Monitoring Service" />
        	<receiver android:name="com.evothings.BluetoothStateReceiver" android:enabled="true">
            	<intent-filter>
                	<action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            	</intent-filter>
        	</receiver>
		</config-file>

		<source-file src="plugin/src/android/EstimoteBeacons.java" target-dir="src/com/evothings" />
		<source-file src="plugin/src/android/BeaconsMonitoringService.java" target-dir="src/com/evothings" />
		<source-file src="plugin/src/android/BluetoothStateReceiver.java" target-dir="src/com/evothings" />
		<source-file src="plugin/src/android/JSONUtils.java" target-dir="src/com/evothings" />
		<source-file src="plugin/src/android/LocalStorage.java" target-dir="src/com/evothings" />
		<source-file src="plugin/src/android/LocalStorageDBHelper.java" target-dir="src/com/evothings" />
		<source-file src="plugin/src/android/NotificationRegion.java" target-dir="src/com/evothings" />
		<source-file src="plugin/src/android/RegionsStore.java" target-dir="src/com/evothings" />

        <framework src="plugin/src/android/estimotesdk.gradle" custom="true" type="gradleReference" />
        <resource-file src="libs/estimote-sdk.aar" target="libs/estimote-sdk.aar"/>
        
	</platform>

	<platform name="ios">
		<framework src="CoreBluetooth.framework" />
		<framework src="CoreLocation.framework" />
		<framework src="SystemConfiguration.framework" />

		<framework src="plugin/src/ios/Frameworks/EstimoteSDK.framework" custom="true" />

		<header-file src="plugin/src/ios/EstimoteBeacons.h" />
		<source-file src="plugin/src/ios/EstimoteBeacons.m" />

        <header-file src="plugin/src/ios/AppDelegate+Beacons.h"/>
        <source-file src="plugin/src/ios/AppDelegate+Beacons.m"/>

        <header-file src="plugin/src/ios/BeaconsManager.h"/>
        <source-file src="plugin/src/ios/BeaconsManager.m"/>
        
		<config-file target="config.xml" parent="/*">
			<feature name="EstimoteBeacons">
				<param name="ios-package" value="EstimoteBeacons" />
			</feature>
		</config-file>

        <config-file parent="/*" target="config.xml">
            <feature name="LocationManager">
                <param name="ios-package" value="CDVLocationManager"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>This app would like to scan for beacons when in the background.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>This app would like to scan for beacons while it is in use.</string>
        </config-file>
	</platform>
</plugin>
